{% extends "base_layout.html" %}
{% block vertical_tabs %}
{% for comp_name in comp_names %}
<button class="tablinks" onclick="openTab(event, 'comp{{loop.index}}', 'vert')">{{comp_name}}</button>
{% endfor %}
{% endblock %}
{% block comparison_tables %}
{% for name, comp in comps.items() %}
<div id="comp{{loop.index}}" class="vert_tabcontent">
    <div class="comparison_table" id="comparison">
        <h3>Comparisons</h3>
        <table class="table" id="comparison">
            <tr>
                <th>Parameter</th>
                <th>A</th>
                <th>B</th>
                <th>Δ</th>
            </tr>
            {% for field, values in comp.items() %}
            <tr class="comparison_row">
                <td class="key-col">{{field}}</td>
                <td class="val-col">{{values[0]}}</td>
                <td class="val-col">{{values[1]}}</td>
                <td class="val-col">{{values[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="comparison_table" id="validation">
        <h3>Validations</h3>
        <table class="table" id="comparison">
            <tr>
                <th>Parameter</th>
                <th>Col A</th>
                <th>Col B</th>
                <th>Δ</th>
            </tr>
            <tr class="comparison_row">
                <td class="key-col">Dataset Name</td>
                <td class="val-col">ds1</td>
                <td class="val-col">ds2</td>
                <td class="val-col">same</td>
            </tr>
            <tr class="comparison_row">
                <td class="key-col">Name</td>
                <td class="val-col">ds1</td>
                <td class="val-col">ds2</td>
                <td class="val-col">same</td>
            </tr>
            <tr class="comparison_row">
                <td class="key-col">Count</td>
                <td class="val-col">ds1</td>
                <td class="val-col">ds2</td>
                <td class="val-col">same</td>
            </tr>
            <tr class="comparison_row">
                <td class="key-col">Missing</td>
                <td class="val-col">ds1</td>
                <td class="val-col">ds2</td>
                <td class="val-col">same</td>
            </tr>
            <tr class="comparison_row">
                <td class="key-col">Data Type</td>
                <td class="val-col">ds1</td>
                <td class="val-col">ds2</td>
                <td class="val-col">same</td>
            </tr>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}