# ignore test data
test_data/
prior_comparison/
sandbox/

# ignore ancillary stuff
.vscode/
.DS_Store

# ignore extraneous python files
__pycache__/
*.pyc

# ignore build files
build/
dist/
*.egg-info

# ignore data files
.csv
.parquet
.avro
.sas7bdat
.json
